script.
    import ImageLayer from "./ImageLayer.pug"
    import Settings from "./SettingsPanel.pug"

    const _defaultLayer = (idx) => {
        return {
            imageUrl: "",
            idx: idx,
            isSelected: false
        }
    }

    let layers = []

    let selectedLayerIdx = -1

    const onSelectLayer = (e) => {
        console.log("callback ran", e)
        // reset all layer to false and select the correct layer
        for(let i=0; i<layers.length; i++) {
            let tmpLayer = layers[i]

            tmpLayer.isSelected = false
            if(tmpLayer.idx == e.detail) tmpLayer.isSelected = true
        }

        layers = layers

    }

    const addLayer = () => {
        console.log("AAA")
        let newLayer = _defaultLayer(layers.length)

        layers.push(newLayer)
        layers = layers
    }

main
    button("on:click"={addLayer}) Add Layer

    Settings
    
    {#each layers as layer}
      ImageLayer(
          idx={layer.idx},
          isSelected={layer.isSelected},
          imageUrl={layer.imageUrl},
          "on:setSelected"={onSelectLayer}
      )
      hr

style.
    main {
        text-align: center;
        padding: 1em;
        margin: 0 auto;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
        margin-top: 0;
    }

    h2, .action {
        color: #aaa;
        font-weight: 100;
    }

    .action-wrapper {
        font-size: 20px;
        cursor: pointer;
    }

    h2 small {
        font-size: 0.5em;
    }

    button {
        margin-left: 10px;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
